<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>custom.motd.scheduled.check</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/ellie/.oh-my-zsh-custom/plugins/motd/run-checks.py</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
            <key>PATH</key>
            <string>/Users/ellie/.local/bin:/Users/ellie/.bin:/bin:/usr/bin</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>900</integer>
</dict>
</plist>
